-
  var logoFooter = './assets/images/footer-image1.jpg'
-
  var cardImage = './assets/images/footer-image2.jpg'

mixin footer()
  footer.footer
    .container.footer__container
      .footer__logo-brand
        img(src= logoFooter, alt="footer image")
      .footer__wrapper
        .footer__list.row
          .footer-navigate.col-12.col-md-12.col-lg-6.col-xl-2.mt-3
            h5.footer__title Thông tin
            each item in footerInfor
              a(href="#!").footer__item= item
          .footer-navigate.col-12.col-md-12.col-lg-6.col-xl-2.mt-3
            h5.footer__title Mua hàng
            each item in footerBuy
              a(href="#!").footer__item= item
          .footer-navigate.col-12.col-md-12.col-lg-6.col-xl-4.mt-3
            h5.footer__title gửi email
            p Gửi email cho chúng tôi để được hỗ trợ
            .footer__input.d-flex
              input(type="email" placeholder="Enter your email")
              .button
                a(href="#" class="button--link") Gửi
            .footer__icon-social
              i.fa-brands.fa-twitter
              i.fa-brands.fa-google-plus-g
              i.fa-brands.fa-dribbble
              i.fa-brands.fa-linkedin-in
              i.fa-solid.fa-rss
          .footer-navigate.col-12.col-md-12.col-lg-6.col-xl-4.mt-3
            h5.footer__title Liên hệ
            ul
              li.d-flex.align-items-center
                i.fa-solid.fa-location-dot.d-block.mr-1
                p Tầng 4, Toà nhà Hanoi Group. Sô 442 Đội Cấn, P. Cổng Vị, Q.Ba Đình, Hà Nội
              li.d-flex.align-items-center
                i.fas.fa-blender-phone.mr-1.d-block
                p.mr-1 (04) 6674 2332
                i.fas.fa-blender-phone.mr-1.d-block
                p.mr-1 (04) 3786 8904
              li.d-flex.align-items-center
                div.d-flex.align-items-center
                  i.fas.fa-blender-phone.mr-1.d-block
                  p.mr-1 (08) 6680 9686
                div.d-flex.align-items-center
                  i.fas.fa-envelope.mr-1.d-block
                  p Support@bizweb.vns
    .border-top.border-secondary
      .container.footer__copyright
        .row.justify-content-between
          .col-12.col-md-4 &copy; Copyright 2008-2014 DKT Technology JSC
          .col-12.col-md-4
            img(src= cardImage, alt="card")
