mixin header()
  header
    .container
      .header__icon.d-lg-none.d-flex
        label(for="user")
          i(class="far fa-user")
      ul.header-navigate
        each item in headerList
          li.header-navigate__item
            a(href=`${item.link}` class=`${item.title} === "Giỏ hàng" ? "position-relative" : ""` )= item.title
              if (item.title === "Giỏ hàng")
                span#amount.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.bg-danger
          span.cross -
      .header-search
        input(type="text" placeholder="Tìm kiếm ở đây ...")
        i.fa-solid.fa-magnifying-glass.icon
