// color
$yellow: #f5bd10;
$gray-light: #f5f5f5;
$p-gray: #636363;
$bg-gray: #f7f7f7;
$white: #fff;
$black: #000;
$blue: #71c5f3;
$green: green;
$orange: #ddaf4a;
$red: #ff0000;

$colorsProduct: (
  orange: #f2711c,
  black: #001,
  red: #ff0055,
);

// size
$site-width: 1280px;

$transition: all 0.5s linear;

// z-index
$z-negative: -1;
$z-elevate: 1;
$z-sticky: 100;
$z-drawer: 200;
$z-dropdown: 400;
$z-modal: 500;

// font family
$ff-playfair: "Playfair Display", serif;
$ff-roboto: "Roboto Slab", serif;

//font-weight
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 800;

//font-size
$fs-light: 13px;
$fs-base: 15px;
$fs-sizable: 17px;
$fs-large: 27px;
