-
  const newsBlog = [
    {img: "/assets/images/blog-image2.jpg", alt: "news image",  title: "cách săp xếp nội thất trong nhà", date: "12/05/2016"},
    {img: "/assets/images/blog-image3.jpg", alt: "news image",  title: "cách săp xếp nội thất trong nhà", date: "12/05/2016"},
    {img: "/assets/images/blog-image4.jpg", alt: "news image",  title: "cách săp xếp nội thất trong nhà", date: "12/05/2016"},
  ]
-
  const comments = [
    {desc: "Có lẽ bởi tính chất 'ăn gian' vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 dạng trang phục này được áp dụng nhiều nhất trong street style tuần qua ,chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém phần gợi cảm, kết hợp cùng đôi giày quai chữ T tôn dáng"},
    {desc: "Có lẽ bởi tính chất 'ăn gian' vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 dạng trang phục này được áp dụng nhiều nhất trong street style tuần qua ,chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém phần gợi cảm, kết hợp cùng đôi giày quai chữ T tôn dáng"},
    {desc: "Có lẽ bởi tính chất 'ăn gian' vóc dáng và vô cùng thoải mái, gợi cảm mà cả 2 dạng trang phục này được áp dụng nhiều nhất trong street style tuần qua ,chọn cho mình bộ trang phục đơn sắc với thiết kế cổ yếm, ống rộng - vừa thoải mái tối đa lại không kém phần gợi cảm, kết hợp cùng đôi giày quai chữ T tôn dáng"},
  ]
