-
  const cartList = [
    {img: "/assets/images/Product/11.jpg", alt: "cart image", name: "rượu vang đỏ", price: "345.000đ", amount: "1", total: "345.000đ"},
    {img: "/assets/images/Product/11.jpg", alt: "cart image", name: "humbuger thịt bò", price: "345.000đ", amount: "1", total: "345.000đ"},
    {img: "/assets/images/Product/11.jpg", alt: "cart image", name: "humbuger thịt bò", price: "345.000đ", amount: "1", total: "345.000đ"},
    {img: "/assets/images/Product/11.jpg", alt: "cart image", name: "humbuger thịt bò", price: "345.000đ", amount: "1", total: "345.000đ"},
  ]