-
  const footerInfor = ["về chúng tôi", "giào hàng", "cảm nghĩ", "lưu trữ", "chính sách riêng tư"]
-
  const footerBuy = ["vận chuyển và trả hàng", "mua hàng an toàn", "vận quốc tế", "liên kết", "dịch vụ giảm giá"]
