-
  const formData = [
    {label: "Tên", id:"nameAddress", type:"text", value:"Giang"},
    {label: "Họ & tên đệm", id:"fullname", type:"text", value:"Lê Anh"},
    {label: "Công ty", id:"company", type:"text", value:"Cổ phần công nghệ DKT"},
    {label: "Địa chỉ", id:"Address", type:"text", value:"Tòa nhà Hà Nội Group, 442 Đội Cấn, Ba Đình, Hà Nội"},
    {label: "Thành phố", id:"nameAddress", type:"text", value:"Hà Nội"},
    {label: "Quốc Tịch", id:"nationality", type:"text", value:"Việt Nam"},
    {label: "Postal/Zip Code", id:"zipCode", type:"number", value:"2300089"},
    {label: "Phone", id:"yourPhone", type:"number", value:"0974554928"},
    {label: "Đặt làm địa chỉ mặc định", id:"addressCheck", type:"checkbox"}
  ]

-
  const formDataEdit = [
    {label: "Tên", id:"nameAddress", type:"text", value:"Giang"},
    {label: "Họ & tên đệm", id:"fullname", type:"text", value:"Lê Anh"},
    {label: "Công ty", id:"company", type:"text", value:"Cổ phần công nghệ DKT"},
    {label: "Địa chỉ", id:"Address", type:"text", value:"Tòa nhà Hà Nội Group, 442 Đội Cấn, Ba Đình, Hà Nội"},
    {label: "Thành phố", id:"nameAddress", type:"text", value:"Hà Nội"},
    {label: "Quốc Tịch", id:"nationality", type:"text", value:"Việt Nam"},
    {label: "Postal/Zip Code", id:"zipCode", type:"number", value:"2300089"},
    {label: "Phone", id:"yourPhone", type:"number", value:"0974554928"},
  ]

-
  const formContact = [
    {label: "Your Name", id:"yourName", type:"text"},
    {label: "Your Email", id:"yourEmail", type:"text"},
    {label: "Subject", id:"subject", type:"text"},
    {label: "Your Message", id:"yourMessage", type:"textarea"},
  ]

-
  const socialList = ["fab fa-facebook-f", "fab fa-google-plus-g", "fab fa-twitter", "fab fa-youtube", "fab fa-pinterest", "fab fa-vk"]