-
  const headerList = [
    {
      title:"Tài khoản của tôi",
      link:"/address.html",
    },
    {
      title:"Trạng thái đơn hàng",
      link:"order.html",
    },
    {
      title:  "Danh sách ưa thích",
      link: "/page404.html",
    },
    {
      title:  "Giỏ hàng",
      link: "/cart.html",
    },
    {
      title:  "Đăng nhập",
      link: "login.html",
    },
    {
      title:  "Đăng ký",
      link: "register.html",
    },
  ]

-
  var banner = [
    {
      urlImage : "./assets/images/banner.jpg"
    },
    {
      urlImage : "./assets/images/banner.jpg"
    },
    {
      urlImage : "./assets/images/banner.jpg"
    }
  ]

-
  var navbarLink = [
    {
      title : "Trang Chủ",
      link : "/",
    },
    {
      title : "Rượu vang đỏ",
      link : "/",
      isDropDown: true,
    },
    {
      title : "Rượu trắng",
      link : "/list-category-product.html",
    },
    {
      title : "champagne",
      link : "/detail-product.html",
    }
    ,
    {
      title : "Thông tin",
      link : "/blog-detail.html",
    }
    ,
    {
      title : "blog",
      link : "/blog.html",
    }
    ,
    {
      title : "Liên hệ",
      link : "/contact.html",
    }
  ]

-
  const dropdownList = ["RƯỢU NGOẠI", "rượu chivas", "Hàng độc - Rượu độc đáo", "Johnnie walker", "rượu whisky", "rượu renny martin", "rượu glenmorangie "]

-
  const newProducts = [
    {
      urlImage : "./assets/images/Product/9.jpg",
      tag: "sale",
      title: "rượu vang đà lạt",
      discount: "370.000",
      cost: "450.000",
    },
    {
      urlImage : "./assets/images/Product/10.jpg",
      tag: "new",
      title: "rượu vang đà lạt",
      discount: "370.000",
      cost: "450.000",
    },
    {
      urlImage : "./assets/images/Product/11.jpg",
      tag: "hot",
      title: "rượu vang đà lạt",
      discount: "370.000",
      cost: "450.000",
    },
    {
      urlImage : "./assets/images/Product/12.jpg",
      tag: "hot",
      title: "rượu vang đà lạt",
      discount: "370.000",
      cost: "450.000",
    }
  ]

-
  const cardData = [
    {
      src: "./assets/images/home-image10.jpg",
      newsTitle: "Vang thăng long classic",
      newsDescription: "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long tạo cảm giác hương phấn, êm dịu, vui tươi, sản phẩm được đóng chai đung tích 750ml.",
      newsTime: "Đăng bởi Giangle | 30/06/2015 | 60 bình luận"
    }
  ]

-
  const collectionList = [
    {src: "/assets/images/home-image2.jpg", alt: "collection image"},
    {src: "/assets/images/home-image3.jpg", alt: "collection image"},
    {src: "/assets/images/home-image4.jpg", alt: "collection image"},
    {src: "/assets/images/home-image5.jpg", alt: "collection image"},
    {src: "/assets/images/home-image6.jpg", alt: "collection image"},
    {src: "/assets/images/home-image7.jpg", alt: "collection image"},
    {src: "/assets/images/home-image8.jpg", alt: "collection image"},
    {src: "/assets/images/home-image9.jpg", alt: "collection image"},
  ]

-
  const  carouselClient = [
    {
      isActive: true,
      comment: "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long ...",
      avatar: "/assets/images/home-image12.jpg",
      nameAuthor: "giang lt",
      job: "Graphic design"
    },
    {
      isActive: false,
      comment: "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long ...",
      avatar: "/assets/images/home-image12.jpg",
      nameAuthor: "giang lt",
      job: "Graphic design"
    },
    {
      isActive: false,
      comment: "Vang nổ Thăng Long có hương vị đặc trưng của sản phẩm lên men tự nhiên từ hoa quả với độ rượu nhẹ, bọt ga đầy trắng mịn. Vang Nổ thăng long ...",
      avatar: "/assets/images/home-image12.jpg",
      nameAuthor: "giang lt",
      job: "Graphic design"
    },
  ]
