-
  const listCategories = ["RƯỢU NGOẠI", "Rượu Chivas (26)", "Hàng độc - Rượu độc đáo (36)", "Johnnie Walker (46)", "Rượu Whisky (24)", "Rượu Remy Martin (16)", "Rượu Glenmorangie  (11)", "Rượu Ballantine's (7)", "Rượu Cognac (40)", "Rượu Vodka (93)", "Rượu Macallan (19)", "Rượu Brandy (62)", "Rượu Hennessy (20)", "RượuGin - Tequila - Liqueur" , "Rượu mùi (36)", "Rượu Champagne (12)", "Rượu Single malt Scotch whisky (47)", "Rượu Spirits (4)", "RƯỢU VANG", "Rượu Vang Pháp (44)", "Rượu Vang Úc (34)", "Rượu Vang Mỹ (16)", "Rượu Vang ChiLe (48)", "Rượu Vang Philip (1)", "Rượu Vang Nam Phi (20)", "Rượu Vang Ý (2)", "Rượu Vang Argentina (3)"]

-
  const tags = ["Đồng hồ", "Túi", "Phụ kiện","Giày", "Sandal", "Áo sơ mi", "Nước hoa", "Trẻ em", "Thời trang nữ"]
-
  const navProducts = [
    {name:"fas fa-th", id:"galleryView", isActive:true },
    {name:"fas fa-list", id:"listView"}
  ]
-
  const listProduct = [
    {
      urlImage : "./assets/images/Product/1.jpg",
      tag: "hot",
      title: "rượu vang đà lạt",
      discount: "370.000",
      cost: "450.000",
    },
    {
      urlImage : "./assets/images/Product/2.jpg",
      tag: "hot",
      title: "rượu vang đà lạt",
      discount: "370.000",
      cost: "450.000",
    },
    {
      urlImage : "./assets/images/Product/3.jpg",
      tag: "hot",
      title: "rượu vang đà lạt",
      discount: "370.000",
      cost: "450.000",
    },
    {
      urlImage : "./assets/images/Product/4.jpg",
      tag: "hot",
      title: "rượu vang đà lạt",
      discount: "370.000",
      cost: "450.000",
    },
    {
      urlImage : "./assets/images/Product/5.jpg",
      tag: "hot",
      title: "rượu vang đà lạt",
      discount: "370.000",
      cost: "450.000",
    }
    ,
    {
      urlImage : "./assets/images/Product/6.jpg",
      tag: "hot",
      title: "rượu vang đà lạt",
      discount: "370.000",
      cost: "450.000",
    }
    ,
    {
      urlImage : "./assets/images/Product/7.jpg",
      tag: "hot",
      title: "rượu vang đà lạt",
      discount: "370.000",
      cost: "450.000",
    }
    ,
    {
      urlImage : "./assets/images/Product/8.jpg",
      tag: "hot",
      title: "rượu vang đà lạt",
      discount: "370.000",
      cost: "450.000",
    }
    ,
    {
      urlImage : "./assets/images/Product/9.jpg",
      tag: "hot",
      title: "rượu vang đà lạt",
      discount: "370.000",
      cost: "450.000",
    }
  ]
