-
  const statusOrder =["Tất cả (16)", "Đã hủy (10)", "Chưa duyệt (0)", "Đã duyệt (0)", "Đã thanh toán-chờ mua hàng (0)", "Đã mua hàng (0)", "Hàng đã về-chờ giao hàng (0)", "Đã kết thúc (6)"]
-
  const orderList = [
    {
      id: "01",
      codeBill: "LEANHGIANG89",
      day: "17/06/2015",
      address:"HÀ ĐÔNG",
      amount: "7",
      total: "350.000đ",
      status: "Đã thanh toán",
      operations: "Chi tiết",
    },
    {
      id: "02",
      codeBill: "LEANHGIANG89",
      day: "17/06/2015",
      address:"HÀ ĐÔNG",
      amount: "7",
      total: "350.000đ",
      status: "Đã thanh toán",
      operations: "Chi tiết",
    },
    {
      id: "03",
      codeBill: "LEANHGIANG89",
      day: "17/06/2015",
      address:"HÀ ĐÔNG",
      amount: "7",
      total: "350.000đ",
      status: "Đã thanh toán",
      operations: "Chi tiết",
    },
    {
      id: "04",
      codeBill: "LEANHGIANG89",
      day: "17/06/2015",
      address:"HÀ ĐÔNG",
      amount: "7",
      total: "350.000đ",
      status: "Đã thanh toán",
      operations: "Chi tiết",
    },
    {
      id: "05",
      codeBill: "LEANHGIANG89",
      day: "17/06/2015",
      address:"HÀ ĐÔNG",
      amount: "7",
      total: "350.000đ",
      status: "Đã thanh toán",
      operations: "Chi tiết",
    },
    {
      id: "06",
      codeBill: "LEANHGIANG89",
      day: "17/06/2015",
      address:"HÀ ĐÔNG",
      amount: "7",
      total: "350.000đ",
      status: "Đã thanh toán",
      operations: "Chi tiết",
    },
  ]