extend ../base/base.pug
block variables
  - const title = " Blog "
  - const currentUrl = "/blog"

block main
  section.blog
    .container
      +breadcrumb("Trang chủ", "Blog")
      h2.main-heading blog
      .blog-container.mt-5.row
        - for (let i = 0; i < 9; i++)
          .col-lg-4.col-md-6.col-12.mt-3.gx-3
            +cardBlog({ data: cardData })