extend ../base/base.pug
block variables
  - const title = "Đơn Hàng"
  - const currentUrl = "/order"
block main
  section.order
    .container.order__container
      +breadcrumb("Trang chủ", "Danh sách đơn hàng")
      h2.main-heading Đơn hàng
      .order__content.pt-5.row
        .order__table.col-12.col-md-12.col-xl-9.order-2.order-sm-1
          .list-order
            h3.order__title danh sách đơn hàng
            p.my-3
              each item in statusOrder
                a(href="#!").order__status=item
          .table-responsive
            table.table.table-bordered
              +orderTable({data: orderList})
        .order__contact.col-12.col-md-12.col-xl-3.order-1.order-sm-2
          h3.order__title thông tin khách hàng
          ul.order__list.my-3
            li.order__item
              i(class="fas fa-user d-block mr-1")
              div
                | GiangLe
                p Leanhgiang89@gmail.com
            li.order__item
              i(class="fas fa-map-marker-alt mr-1")
              p Tòa nhà Hà Nội group 442 Đội Cấn, Ba Đình Hà Nội
            li.order__item
              i(class="fa-solid fa-phone mr-1")
              p (04) 3786 8904
          a(href="#!") Chi tiết địa chỉ
