extend ../base/base.pug
block variables
  - const title = "Đơn Hàng"
  - const currentUrl = "/order"
block main
  section.order
    .container.order__container
      +breadcrumb("Trang chủ", "Danh sách đơn hàng")
      +progressBar('Xác nhận đơn hàng')
      h2.main-heading Xác nhận đơn hàng
      .order__content.pt-5.row
        .order__table.col-12.col-md-12.col-xl-9.order-2.order-sm-1
          .cart__table
            .table-responsive
              table.table.table-bordered
                thead
                  th(scope='col') Ảnh
                  th(scope='col') Tên sản phẩm
                  th(scope='col') Giá
                  th(scope='col') Số lượng
                  th(scope='col') Tổng số
                tbody(id= "js-cart-table")
                tr
                  th(class="fw-bold") Tổng số
                  th
                  th
                  th(id="js-total-amount" class="fw-bold")
                  th(id="js-total-money" class="fw-bold")
          .row.mt-3
            .col-12.text-end
              a(href="/cart.html" class="btn btn-link text-secondary") Chỉnh sửa sản phẩm
              button(id= "js-finish").button.active.mx-3 Đặt mua
              a(href="/address.html").button Quay lại
        .order__contact.col-12.col-md-12.col-xl-3.order-1.order-sm-2
          h3.order__title thông tin khách hàng
          ul.order__list.my-3(id="js-cart-user")
          a(href="/address.html" class="btn btn-link") Chỉnh sửa địa chỉ

block script
  script(type="module" src="./js/constant.js")
  script(type="module" src="./js/function.js")
  script(type="module" src="./js/toast.js")
  script(type="module" src="./js/order.js")