doctype html
block toppage
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    //- Bs css
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous")
    //- font awesome
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css')
    link(rel="stylesheet" href="css/style.css")
    title= "404 Not Found" + " | Wine Shop - Since 1980"
  body
    block main
      section.not-found
        .not-found__img
          img(src="/assets/images/404-NotFound.jpg" alt="404 not found")
        .not-found__nav
          .not-found__logo
            img(src="/assets/images/logo-light.png" alt="logo")
          .not-found__menu
            ul.not-found__list
              li.not-found__item
                a(href="index.html" class="text-dark") TRANG CHỦ
              li.not-found__item.mx-5
                a(href="contact.html" class="text-dark")  LIÊN HỆ
              li.not-found__item
                form.not-found__form
                  input(type="text" class="form-control" required)
                  button.not-found__button
                    i(class="fas fa-search")
