.button {
  @include mg($y: 0.5rem);
  @include button($bgColor: $black, $colorText: $white, $textTrans: uppercase);
  @include pd($x: 1rem, $y: 0.5rem);
  width: fit-content;
  border: none;

  &:hover {
    background-color: $orange;
    transition: $transition;
  }
}
