.blog-container {
  .card-blog {
    @include flex($direction: column);
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 12rem;

    img {
      width: 100%;
      height: 100%;
    }

    i {
      @include pd($x: 1rem, $y: 1rem);
      position: absolute;
      top: 60%;
      left: 60%;
      -webkit-transform: translate(-50%, -50%);
      transition: $transition;
      color: $p-gray;
      background: $white;
      border-radius: 2rem;
      opacity: 0;
    }

    &:hover i {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      opacity: 1;
      z-index: 10;
    }

    &::after {
      position: absolute;
      bottom: -5%;
      -webkit-transform: rotate(-28deg) translateY(90%);
      transition: $transition;
      content: "";
      background: $p-gray;
      width: 200%;
      height: 100%;
      opacity: 0.5;
    }

    &:hover::after {
      -webkit-transform: rotate(-28deg) translateY(0);
    }
    &__title {
      @include font($textTrans: uppercase, $fs: $fs-sizable);
      letter-spacing: 0.2rem;
    }

    &__time {
      @include mg($y: 1rem);
      @include font($fs: $fs-light, $color: rgba($p-gray, 0.7));
    }

    &__description {
      @include mg($y: 1rem);
      @include font($textTrans: none, $fs: $fs-light, $color: $p-gray);
      line-height: 1.5;
    }
  }
}
