.pagination {
  .page-link {
    @include pd($x: 0.5rem);
    border: none;
    color: rgba($p-gray, 0.8);
  }

  .page-item.active .page-link {
    color: $orange;
    background-color: transparent;
  }

  .page-number {
    color: $black;
  }
}
