#toast {
  position: fixed;
  top: 32px;
  right: 32px;
  z-index: $z-toast;
}

.toast-item {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 2px;
  padding: 1rem 0;
  min-width: 25rem;
  max-width: 40rem;
  border-left: 4px solid;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.2);
  transition: all linear 0.3s;
}

.toast-item--success {
  border-color: $green;
}

.toast-item--success .toast-item__icon {
  color: $green;
}

.toast-item--info {
  border-color: $green;
}

.toast-item--info .toast-item__icon {
  color: $green;
}

.toast-item--warning {
  border-color: $yellow;
}

.toast-item--warning .toast-item__icon {
  color: $yellow;
}

.toast-item--error {
  border-color: $red;
}

.toast-item--error .toast-item__icon {
  color: $red;
}

.toast-item + .toast-item {
  margin-top: 24px;
}

.toast-item__icon {
  font-size: 24px;
}

.toast-item__icon,
.toast-item__close {
  padding: 0 16px;
}

.toast-item__body {
  flex-grow: 1;
}

.toast-item__title {
  font-size: 16px;
  font-weight: 600;
  color: $green;
}

.toast-item__msg {
  font-size: 14px;
  color: $p-gray;
  margin-top: 6px;
  line-height: 1.5;
}

.toast-item__close {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
